server:
  port: 8087

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/kafka_outbox
    username: outbox
    password: outbox
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_schema: outbox_billing
        format_sql: true
    open-in-view: false

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/master.yaml
    default-schema: outbox_billing

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: billing-service
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    listener:
      ack-mode: manual

logging:
  level:
    org.hibernate.SQL: INFO
